<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usando ajax</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="container" style="margin-top:20px">
        <div class="jumbotron">
            <div class="row">
              <div class="col-sm-6">
                  <h1>jQuery Ajax <small>probando Flask con jQuery</small></h1>
              </div>
              <div class="col-sm-6 text-right">
                  <ul class="list-inline" style='margin-top:30px'>

                      <li><input type="text" size=5 name=a>+</li>
                      <li><input type="text" size=5 name=b>=</li>
                      <li><span id=result>?</span></li>
                      <li><a href="#" id=calculate class='btn btn-default'>Calculate server side</a></li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><a href="serverEvents">Dale Click aqui para un ejemplo usando Server-Events</a></p>
            </div>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>
    <script type=text/javascript>
      $(function(){
          $('a#calculate').bind('click', function(){
              $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                  a: $('input[name="a"]').val(),
                  b: $('input[name="b"]').val()
              }, function(data) {
                  $("#result").text(data.result);
              });
              return false;
          });
      });
    </script>
  </body>
</html>
